body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

h1 {
    color: pink;
}

h3 {
     color: pink;

p {
    font-size: 18px;
    margin: 10px 0;
    background-color: lightpink;
    color: pink;
}

.resize-image {
    width: 300px; 
    height: auto; 
}
